In [1]:
import pandas as pd
import seaborn as sns  
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data=sns.load_dataset("penguins")
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [3]:
data.shape

(344, 7)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [5]:
#dropping the null values
data.dropna(inplace=True)

In [6]:
data.isna().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [7]:
data.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [8]:
# encoding sex and island
sex=pd.get_dummies(data["sex"],drop_first=True)
sex=sex.astype('int64')
sex.head()

   Male
0     1
1     0
2     0
4     0
5     1

In [9]:
island=pd.get_dummies(data["island"],drop_first=True)
island=island.astype('int64')
island.head()

   Dream  Torgersen
0      0          1
1      0          1
2      0          1
4      0          1
5      0          1

In [10]:
#merging these in to original and droping unwanted columns
data=pd.concat([data,sex,island],axis=1)
data.drop(['sex','island'],axis=1,inplace=True)
data.head()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Male,Dream,Torgersen
0,Adelie,39.1,18.7,181.0,3750.0,1,0,1
1,Adelie,39.5,17.4,186.0,3800.0,0,0,1
2,Adelie,40.3,18.0,195.0,3250.0,0,0,1
4,Adelie,36.7,19.3,193.0,3450.0,0,0,1
5,Adelie,39.3,20.6,190.0,3650.0,1,0,1

In [11]:
X=data.drop("species",axis=1)
y=data["species"]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=.2, random_state=42)

In [19]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=7,criterion='gini',random_state=0)

In [20]:
rfc.fit(X_train,y_train)

RandomForestClassifier(n_estimators=7, random_state=0)

In [21]:
y_pred=rfc.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score, classification_report

In [22]:
print("Accuracy Score: ",accuracy_score(y_test,y_pred))

Accuracy Score:  1.0

In [18]:
print("Classification Report: ",classification_report(y_test,y_pred))

Classification Report:                precision    recall  f1-score   support

      Adelie       1.00      1.00      1.00        31
   Chinstrap       1.00      1.00      1.00        13
      Gentoo       1.00      1.00      1.00        23

    accuracy                           1.00        67
   macro avg       1.00      1.00      1.00        67
weighted avg       1.00      1.00      1.00        67